<!DOCTYPE html>
<html>
<head>
	<title>Protected Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<h1 id="my-heading">Gate is {{ gate_status }}</h1>
	<form method="POST" action="{{ url_for('protected') }}" id="my-form">
		<button type="submit" name="gate_operation" value="open">Operate Gate</button>
	  </form>
	  
	<!-- <script>
		// Define the new heading text
		const newHeading = "Gate is Stationary";
  
		// Set a timeout to update the heading after 3 seconds (3000 milliseconds)
		setTimeout(() => {
		  // Get the h1 element by its ID
		  const heading = document.getElementById("my-heading");
  
		  // Update the heading's text content
		  heading.textContent = newHeading;
		}, 3000);
	  </script> -->

	  <script>
		// Get the form element by its ID
		const form = document.getElementById("my-form");

		// Add an event listener to the form's submit event
		form.addEventListener("submit", () => {
			// Get the h1 element by its ID
			const heading = document.getElementById("my-heading");

			// Update the heading's text content to say that the gate is in motion
			heading.textContent = "Gate is in motion";
		});
	</script>


  

	  <!-- <script>
		 window.onload = function() {
		// Define the desired heading text
		const desiredHeadingText = "Gate is Stationary ";
  
		// Get the h1 element by its ID
		const heading = document.getElementById("my-heading");
  
		// Update the heading's text content with the desired heading text
		heading.textContent = desiredHeadingText;
		 }
	  </script> -->
</body>
</html>
